/* Ejercicio 1 */

#box1, #box2, #box3{
    width: 20%;
    height: 90px;
    border: 3px solid black;
    margin: 15px;
    text-align: center;
}

#box1, #box3{
    background-color: red; 
}

/* Ejercicio 2 */
img{
    width: 20%;
}

#blended::after{
    mix-blend-mode: difference;
}
