.myclass{
    text-align: center;
    font-size: 5vw;
    padding: 10vw;
    border: solid;
    background: -webkit-repeating-radial-gradient(grey 20%, white 40%);
    
}
.lineal{
    text-align: center;
    font-size: 5vw;
    padding: 10vw;
    border: solid;
    background: -webkit-repeating-linear-gradient(red 20%, orange 40%);
    
}