@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  
}

.project-card-sm h4 {
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

.project-card-sm p {
    font-size: 12px;
    margin: 0;
}

.project-card-sm, .tecnologies-card-sm {
/*   max-width: 600px; */
  max-width: 500px;
  padding: 2.5px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: transform 0.4s, box-shadow 0.4s ;
}

.tecnologies-card-sm {
    max-width: 100px;
    border-radius: 0;
}

.project-card-sm:hover {
  transform: scale(1.025);
  box-shadow: 0 0 100px -30px #6f45dc;  
}


.project-card-sm .card-border-gradient {
  content: "";
  position: absolute;
  bottom: 50%;
  height: 300%;
  width: 10rem;
  z-index: -1;
  background: linear-gradient(to right, transparent, #9272e4, transparent);
  
  transition: opacity 0.3s ;
  opacity: 0;
    
  animation: animate-border-gradient 5s infinite linear;
}

.project-card-sm:hover .card-border-gradient {
  opacity: 1;
}

@keyframes animate-border-gradient {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(360deg) ;
    transform-origin: bottom;
  }
}


.project-card-sm .card-container {
  display: grid;
  grid-template-areas: "img img text text text";
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 12px;
  /* degradado */
  background: linear-gradient(to right, #6f45dc, #9272e4, #5860f1);
  color: rgb(0 0 0);
}

.card-container img {
  grid-area: img;
/*   height: 100%; */
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 8px;
  
  transition: transform 0.3s;
}

.tecnologies-card-sm .card-container img{
    border-radius: 0;
}

.card-container .wrapper {
  grid-area: text;
  font-size: 0.9rem;
  line-height: 1.4;
}

.card-container .wrapper h1 {
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  margin-bottom: 0.75rem;
}

.card-container .wrapper button {
  background: none;
  border: none;
  
  font: inherit;
  color: #fff;
/*   background-color: red; */
  margin-top: 1.4rem;
  
}

.card-container .wrapper button i {
  margin-left: .5rem;
  transition: margin 0.3s;
}
.card-container:hover button i {margin-left: 1rem;}

/* Pantallas de computadoras portátiles y escritorios */
@media (min-width: 992px) {

    .project-card-sm h4{
        font-size: 24px;
    }
    
    .project-card-sm p{
        font-size: 16px;
    }
}