/* Ejercicio 1*/

#ej1{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid black;
    animation-duration: 5s;
    animation-name: deslizar;
    -webkit-animation: infinite alternate;
}

@keyframes deslizar{
    0% { 
        transform: translateY(0px); 
       
    }
    100% { 
        transform: translateY(100px);  
}
}