/* Ejercicio 1 */

#ej1{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
    transition-timing-function: ease-in-out;
}

#ej1:hover{
    width: 300px;
}

/* Ejercicio 2 */

#ej2{
    width: 100px;
    height: 100px;
    background: red;
    transition: backgrounud 2s, transform 2s;
   
}

#ej2:hover{
    background: blue;
    transform: rotate(180deg);
}